<div class="container mx-auto p-6">
  <div class="mb-5">
    <%= link_to "+ Add New Member", new_board_board_user_path(@board), class: "bg-purple-500 text-white py-2 px-4 rounded-md hover:bg-purple-600 cursor-pointer" %>
  </div>

  <div 
    data-controller="board" 
    id="board" class="overflow-x-scroll" 
    data-api-url="<%= api_board_lists_path(@board) %>" 
    data-list-positions-api-url="<%= api_board_list_positions_path(@board) %>" 
    data-board-lists-url="<%= board_lists_path(@board) %>"
    data-item-positions-api-url="<%= api_item_positions_path %>"
  >
  </div>
</div>

<%= render "shared/modal" %>