<%= form_with model: [list, item], local: true do |f| %>
  <div class="bg-indigo-50 min-h-screen md:px-20 pt-6">
    <div class=" bg-white rounded-md px-6 py-10 max-w-2xl mx-auto">
      <% if item.new_record? %>
        <h1 class="text-center text-2xl font-bold mb-10">New Item</h1>
      <% else %>
        <h1 class="text-center text-2xl font-bold mb-10">Edit Item <%= item.title %></h1>
      <% end %>

      <div class="space-y-4">
          <div class="field">
            <%= f.label :title, class: "block mt-3 font-semibold" %>
            <%= f.text_field :title, class: "border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md" %>
          </div>

          <div class="field">
            <%= f.label :description, class: "block mt-3 font-semibold" %>
            <%= f.text_area :description, class: "border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md" %>
          </div>

          <div class="flex items-center justify-end gap-5">
            <%= link_to "Cancel", root_path, class: "custom-link" %>
            <%= f.submit class: "bg-purple-500 text-white py-2 px-4 rounded-md hover:bg-purple-600 cursor-pointer" %>
          </div>
      </div>
    </div>
  </div>
<% end %>
  